<div class="container mt-3">
    <nav class="nav nav-tabs">
        <a href="{{ path('My_Event_detail') }}" class="nav-item nav-link active" data-toggle="tab">En cours</a>
        <a href="{{ path('my_past_event') }}" class="nav-item nav-link" data-toggle="tab">Terminés</a>
        <a href="{{ path('my_waiting_event') }}" class="nav-item nav-link" data-toggle="tab">En attente</a> 
    </nav>           
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom Evènement</th>
        <th>Participant(s)</th>
        <th>Statut</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {% for event in events %}
      {% if event.statutEvent == 'En cours' %}
        <tr>
          <td>{{ event.eventName }}</td>
          <td>{{ participants[event.id]|length }}</td>
          <td>{{ event.statutEvent }}</td>
          <td><a href="" class='btn btn-danger'>A propos</a></td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>